<div>
    <h1 style="color:red">Doble Routing</h1>
        <li>
            <a [routerLink]="['/numerodoble']">Doble nada | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble', 7]">Doble 7 | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble', 42]">Doble 42</a>    
    <button (click)="goToHome()">
        Go to home
    </button>
    <button (click)="redirect(55)">
        55
    </button>
    <button (click)="redirect(102)">102</button>
    <button (click)="redirect(11)">11</button>
    @if (numero){
        <h2>El doble del número {{numero}} es {{doble}}</h2>
    }@else{
        <h2>No hemos recibido parámetro</h2>
    }
</div>