<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home | </a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine | </a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica | </a>
        </li>
        <li>
            <a [routerLink]="['numerodoble']">Doble nada | </a>
        </li>
        <li>
            <a [routerLink]="['numerodoble/7']">Doble 7 | </a>
        </li>
        <li>
            <a [routerLink]="['numerodoble/42']">Doble 42</a>
        </li>        
    </ul>
</div>